@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.nounderline {
    text-decoration: none !important;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0 auto;
    overflow-x: hidden;
   line-height: 1.2;
}

input {
    visibility: hidden;
}

input.visible {
    visibility: visible;
}

::selection {
    background-color: #7FC595;
}

/* canvas {
    background-color: red;
    visibility: visible !important;
} */

a {
    color: black;
    text-decoration: none;
}

p {
    line-height: 1.2;
    /* margin-top: 0; */
}

.story p a {
    text-decoration: underline;
}

.images p a {
    text-decoration: underline;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    margin: 5% 25% 5% 25%;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto 1fr auto;
    height: 100%;
    width: 100%;
    margin: 5% 0 5% 0;
    align-items: stretch;
}

header h1 {
    font-size: 210%;
    margin-left: 2.5%;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
   
}

.firstname {
    grid-row: 1;
    grid-column: 2;
    align-self: start;
}

.surname {
    grid-row: 2;
    grid-column: 2;
    align-self: baseline;
}

header a {
    text-decoration: underline;
}

header h2 {
    grid-row: 3;
    grid-column: 1 / span 4;
    font-weight: 300;
    font-size: 120%;
}

header p {
    grid-row: 4;
    grid-column: 1 / span 4;
}

#buttons {
    border-bottom: #7FC595 5px solid;
    padding-bottom: 2.5%;
      border-top: #7FC595 5px solid;
    padding-top: 2.5%;
    justify-content: space-between;
    display: flex;
  
}

#buttons button {
    background-color: white;
    border: none;
    font-weight: 700;
    color: black;
}

.selected {
    color: #7FC595;
    text-decoration: underline;
}


#buttons button:hover {
    color: #7FC595;
    text-decoration: underline;
    cursor: pointer;
}

#img-click {
    grid-row: 5;
    grid-column: 1;
    max-width: 25px;
     align-self: baseline;
}

header a p {
    margin: 0;
    display: inline;
    margin-left: 1em;
}

.links {
    grid-row: 5;
    grid-column: 1 / span 4;
    display: flex;
    justify-content: space-between;
    font-size: 100%;
    align-items: baseline;
}

.links a:hover {
    color: #7FC595;
}

#mailto:hover #img-click {
    filter: brightness(0) saturate(100%) invert(72%) sepia(37%) saturate(342%) hue-rotate(86deg) brightness(93%) contrast(89%);
}

#img-click:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(37%) saturate(342%) hue-rotate(86deg) brightness(93%) contrast(89%);
}

#decor {
    grid-row: 1 / span 2;
    grid-column: 1;
    background-color: #7FC595;
    width: 25px;
}

#decor:hover {
    cursor: pointer;
}

.story {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    margin: 2.5% 0 2.5% 0;
    border-top: #d9d9d9 solid 2px;
    animation: fadeIn 1s ease-in-out;
    padding: 1% 0 1% 0;
}


@keyframes fadeIn {
    10% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.story h2 {
    margin-right: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 0;
}

.story p {
    margin-right: 2.5%;
}

h6 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 70%;
    margin: 2.5% 0 0 0;
}

.input {
    display: none;
}

.story img {
    grid-row: 1 / span 3;
    grid-column: 2;
    justify-self: center;
    align-self: center;
    border: black 2px solid;
    max-height: 200px;
    width: auto;
}

.story img {
    max-width: 100%;
}

.secondary-img:hover {
    cursor: pointer;
}

.secondary-img2:hover {
    cursor: pointer;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 2.5% 0 0 0;
    border-top: #d9d9d9 solid 2px;
    animation: fadeIn 1s ease-in-out;
    padding: 1% 0 1% 0;
}

.images img {
    width: 100%;
    align-self: center;
    padding: 1%;
}

.images h6 {
    grid-row: 1;
    grid-column: 1 / span 3;
}

.images a {
     /* margin-right: 2.5%; */
    /* margin-top: 2.5%; */
    grid-column: 1 / span 4;
    grid-row: 2;
}

.images a h2 {
    margin-top: 2.5%;
    margin-bottom: 0;
}

.image1 {
    grid-column: 1;
    grid-row: 4;
}

.image1:hover {
    cursor: pointer;
}

.images p {
    grid-row: 3;
    grid-column: 1 / span 3;
    margin-top: 2.5%;
}

.secondary-img {
    border: none !important;
    grid-column: 2;
    grid-row: 4;
}

.secondary-img2 {
    border: none !important;
    grid-column: 3;
    grid-row: 4;
}

footer {
    transform: scale(1);
    transition: transform 1s ease-in-out;
    text-align: center;
    background-color: #7FC595;
    position: absolute;
    bottom: 1;
    width: 100%;
    left: 0;
    padding: 1% 0 5% 0;
    color: white;
}

footer h1, footer h2, footer h3 {
    margin: 1% 0 1% 0;
}

#footername:hover {
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

.footer-links a {
    color: white;
    /* margin: 0 1em 0 1em; */
    align-self: baseline;

}


.footer-links {
    text-align: center;
    justify-content: space-between;
    display: flex;
    margin: 0 35% 0 35%;
}

footer a {
    text-decoration: underline;
    color: white;
    margin: 0 2.5% 0 2.5%;
}

footer a:hover {
    color: black;
}

footer:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}